
/* contact */
.contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    color: black;
  }
  
  .contact h1,
  h2,
  h3 {
    text-align: center;
  }
  .contact{
    padding-top: 4rem;
  }
  .c1 {
    width: 80%;
    /* margin: auto; */
    /* justify-content: center; */
    text-align: center;
  }
  
  .c1 span {
    display: block;
  }
  
  .c2 {
    width: 90%;
    margin: 2% auto 2% auto;
    border-radius: 10px;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
  }
  
  .cbtn {
    display: block;
    width: 20%;
    margin: 30px auto 0 auto;
    background: rgb(110, 118, 114);
    border-radius: 2px;
    border: none;
  }
  .cbtn:hover{
    background-color: rgb(45, 202, 202);
    color: black;
    transition: all 0.3s;
  }
  .contactheadcol {
    text-align: center;
    width: 70%;
    margin: 60px auto;
  }
  
  .contactheadcol span {
    font-size: 20px;
  }
  
  .c3 {
    padding: 3% 15%;
    text-align: center;
    font-size: 26px;
  }
  
  .c2 .mb-3 {
    margin: auto;
  }
  
  .c4 {
    border-radius: 10px;
    width: 60%;
    margin: auto;
  }
  
  .c2 input,
  textarea {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid black;
    padding: 4px;
    font-size: 16px;
  }
  
  .c2 textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  
  .c2 .btn {
    width: 23%;
    padding: auto;
    margin: auto;
  }
  
  .c2 .btn1 {
    width: 20%;
    float: right;
    margin: auto;
  }
  
  @media screen and (max-width: 900px) {
    .cbtn {
      width: 40%;
    }
  
    .c3 {
      padding: 4% 10%;
    }
  
    .c2 .btn {
      width: 30%;
    }
  
    .c2 {
      width: 85%;
    }
  
    .c1 {
      width: 98%;
    }
  
    .c4 {
      width: 85%;
    }
  
    .c2 textarea {
      height: 200px;
    }
  }
  .contact .one h1 {
    margin-top: 50px;
    position: relative;
    padding: 0;
    margin: 0;
    /* font-family: "Raleway", sans-serif; */
    font-weight: 300;
    /* font-size: 40px; */
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45x;
  }  