/* Services */
/* .ser{
    margin-top: -9%;
    background-color: #161515;
  } */
/* === HEADING STYLE #1 === */
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.ser {
  padding-top: 3%;
}

.s-carads h1 {
  position: relative;
  padding: 0;
  margin: 0;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 300;
  font-size: 45px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.4s ease 0s;
}

.one h1:before {
  width: 28px;
  height: 7px;
  display: block;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -14px;
  background-color: #a95f5f;
}

.one h1:after {
  width: 150px;
  height: 3px;
  display: block;
  content: "";
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
  left: 50%;
  margin-left: -75px;
  background-color: #c05353;
}

.s-cards {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.s-mycards {
  /* box-shadow: 2px 2px 10px rgb(64, 62, 65); */
  background: linear-gradient(rgb(47, 48, 48), rgb(132, 130, 130));
  width: 250px;
  align-items: center;
  color: wheat;
  margin: 4% 2%;
  /* justify-content: space-evenly; */
}

.ime {
  width: 95%;
  height: 22vh;
  display: block;
  margin: auto;
  margin-top: 4px;
}

.s-carads {
  max-width: 80%;
  margin: auto;
  padding: 0% 4% 2% 4%;
  display: flex;
  flex-direction: column;
}

.dot {
  margin-top: 6px;
  width: 20px;
  height: 20px;
  background-color: aqua;
  border-radius: 50%
}

.popup {
  background: linear-gradient(rgb(174, 183, 178), rgb(29, 28, 28));
}

@media screen and (max-width: 900px) {
  .s-carads h1 {
    font-size: 60px;
    text-align: center;
  }
}
.service-grid {
  background: #fcfcfc;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .service-grid {
    flex-direction: column;
  }
}
  .service-title h4 {
  position: relative;
  display: inline-block;
}
.service-icon {
  position: relative;
}
.service-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.about-info-text h2 {
  margin-bottom: 23px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: .9;
}
.about-info-text p {
  padding: 0 100px;
  font-size: 18px;
  margin-bottom: 26px;
    position: relative;
}
.about-content p {
  margin-bottom: 0;
}
.about-info-text a {
  margin-bottom: 20px;
    position: relative;
}
.service-icon i {
  font-size: 40px;
  color: #e8bc00;
  margin-bottom: 20px;
  display: inline-block;
}
.service-wrap {
  border: 1px solid #e6e6e6;
  padding: 50px 30px;
    position: relative;
}

.service-wrap p{
    position: relative;
}

.service-wrap:hover {
  background-image: url(https://i.ibb.co/mykzQks/services1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  transition: all .5s;
}

.service-wrap:hover:before {
  background: rgba(0, 0, 0, 0.2901960784313726);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  content: "";
  top: 0;
  opacity: 1;
}

.service-wrap:hover h4,.service-wrap:hover p{
  color: #fff;
}
.service-wrap h4 {
  font-weight: 600;
  color: #1e2331;
  margin-bottom: 17px;
  font-size: 18px;
  text-transform: capitalize;
    position: relative;
}
.service-wrap a {
  font-size: 14px;
  font-weight: 600;
    position: relative;

}