.filter{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: space-evenly;
}
.porbtn{
  width: 10%;
}
.portimg{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.col2{
  margin: auto;
  text-align: center;
}
.row1{
  background-color: antiquewhite;
  color: brown;
}
.row1 h1{
  font-size: 50px;
  color: rgb(219, 159, 79);
}
.col1{
  padding:6%;
  margin: auto;
}
.filterset{
  font-size: 25px;
  float: right;
  margin: auto;
}
.texthead{
  display: block;
  width:80%;
  margin: auto;
}
.row2{
  width: 90%;
  margin: auto;
  border-radius: 10px;
  color: brown;
  background-color: antiquewhite;
}
.row2 h1{
  font-size: 50px;
  text-align: center;
  margin-bottom:2% ;
  color: rgb(219, 159, 79);
}
.col3{
  width: 80%;
  margin: auto;
  padding: 4%;
}
.filterhead{
  margin: 2%;
}
.tbtn{
  width: 200px;
}
.col2 text{
  font-size: 22px;
}
.workmenu{
margin: auto;
padding: 2% 7%;
}
.workcard{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio_item {
  width: 300px;
  margin: 2% 4%;
}
.linkimg{
  width: 300px;
}