.services2 img {
    width: auto;
    height: 250px;
}

.serve {
    height: 500px;
    background-color: rgb(235, 117, 8);
}

.wevserig {
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icls1 {
    background-image: url('../assets/webs.jpg');
}

.icls2 {
    background-image: url('../assets/webs.jpg');
}

.icls3 {
    background-image: url('../assets/webs.jpg');
}

.icls4 {
    background-image: url('../assets/webs.jpg');
}

.icls5 {
    background-image: url('../assets/webs.jpg');
}

.icls6 {
    background-image: url('../assets/webs.jpg');
}
.icls7 {
    background-image: url('../assets/webs.jpg');
}
.icls8 {
    background-image: url('../assets/webs.jpg');
}
.wevserig2 {
    overflow: hidden;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.services2 h1 {
    text-align: center;
}

.serviceItem {
    height: 380px;
    display: flex;
    margin: 2% 9%;
    border-radius: 20px;
}

.overview-item {
    padding: 2%;
    border: 2px solid black;
    height: 300px;
    display: flex;
    margin: 2%;
}
.overview-item1 {
    width: 20%;
    border: 2px solid black;
}