.services2 img {
    width: auto;
    height: 250px;
}
.serve {

    background-color: rgb(235, 117, 8);
}

.wevserig {
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icls1 {
    background-image: url('../assets/services/web.jpg');
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icls2 {
    background-image: url('../assets/services/android2.jpg');
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icls3 {
    background-image: url('../assets/services/logo.png');
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icls4 {
    background-image: url('../assets/services/edit.jpg');
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icls5 {
    background-image: url('../assets/services/chat.png');
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icls6 {
    background-image: url('../assets/services/3d.jpg');
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.icls7 {
    background-image: url('../assets/webs.jpg');
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.icls8 {
    background-image: url('../assets/services/gui.jpg');
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.wevserig2 {
    overflow: hidden;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.services2 h1 {
    text-align: center;
}

.serviceItem {
    height: 380px;
    display: flex;
    margin: 2% 9%;
    border-radius: 20px;
}
.col{
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}
.servicefuture{
    font-size: 20px;
    text-align: center;
    background-color: rgb(102 77 56);
    border-radius: 4px;
    margin-bottom: -20px;
    color: wheat;
    margin: 2%;
}